# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.opensdf
*.sdf
*.cachefile
*.db

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# User specific files
*.rsuser
*.userosscache
*.sln.docstates

# Appsettings sensitive
appsettings.Development.json